<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="appconfig" 
			 connectionString="Data Source=DESKTOP-VU3I9MN;Initial Catalog=MyContactsDB;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>